.btn-icon {
  margin-left: 8px;
}

.icon {
  line-height: normal;
  vertical-align: middle;
}

table {
  width: 100%;
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 5%;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
  flex: 0 0 12%;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
  flex: 0 0 18%;
}

mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
  flex: 0 0 11%;
}

mat-table,
mat-row,
mat-header-row,
mat-footer-row {
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 5px;
}

mat-cell:last-child,
mat-footer-cell:last-child,
mat-header-cell:last-child {
  padding-right: 0;
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  mat-cell {
    justify-content: left;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    margin-bottom: 4%;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.85em;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }

  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
