<div class="app-footer">
  <div class="row">
    <div class="col-md-9">
      <p>
        <strong
          >WebSavvy - Simplificando tus procesos, optimizando tu éxito</strong
        >
      </p>
      <p>
        WebSavvy es una empresa dedicada a crear herramientas digitales que
        simplifican la gestión y optimizan los procesos de trabajo. Nuestras
        aplicaciones web están diseñadas para satisfacer las necesidades
        específicas de cada sector y ofrecer soluciones innovadoras a nuestros
        clientes.
      </p>
    </div>
  </div>
  <div
    class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center"
  >
    <a
      class="btn btn-primary text-white btn-rounded mb-3 mb-sm-0 mr-0 mr-sm-3"
      href="mailto:contacto@websavvy.cl"
      target="_blank"
      >Contáctanos</a
    >

    <span class="flex-grow-1"></span>
    <div class="d-flex align-items-center">
      <img class="logo" src="./assets/images/isotipo.png" alt="" />
      <div>
        <p class="m-0">&copy; {{ currentYear }} WebSavvy</p>
        <p class="m-0">Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</div>
